 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #151515;
 }
.container{
    height: 100vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
 .containerGamer{
    width: 100%;
    height: 600px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
    z-index: 1000;
 }

 .pipe-obstacle{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-obstacle-animation 1.5s infinite linear;
    background-color: #ffffff00;
 }
 .mario{
    position: absolute;
    bottom: 0;
    width: 155px;
    background-color: #ffffff00;
    
 }

 .jump-mario{
    animation: jump-mario-animation 500ms;
 }
 .floor{
    width: 100%;
 }

 @keyframes pipe-obstacle-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
 }
 @keyframes jump-mario-animation{
    0%{
        bottom: 0;
    }
    40%{
        bottom: 180px;
    }
    50%{
        bottom: 185px;
    }
    60%{
        bottom: 185px;
    }
    100%{
        bottom: 0;
    }
 }

