 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
 }
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .containerGamer{
    width: 80%;
    height: 600px;
    position: relative;
    background-color: #ffffff;
 }

 .pipe-obstacle{
    position: absolute;
    bottom: 0;
    width: 80px;
 }

