 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: aqua;
 }
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .containerGamer{
    width: 80%;
    height: 600px;
    position: relative;
    background-color: #ffffff;
    overflow: hidden;
 }

 .pipe-obstacle{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-obstacle-animation 2s infinite linear;
    background-color: #ffffff;
 }

 @keyframes pipe-obstacle-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
 }

